In [15]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import random

blastTEs=pd.read_csv('TAIR10_TE.short.fasta_blastall', header=None, sep=',')
print(blastTEs.head(n=5))

           0           1     2      3     4      5      6        7    8   9   \
0  AT1TE52125  AT1TE52125     1  11559     1  11559  11559  100.000    0   0
1  AT1TE52125  AT1TE52105     1   8011  3566  11559   8012   99.114   52   4
2  AT1TE52125  AT1TE52105  8012   9174  4105   5274   1170   98.718    8   1
3  AT1TE52125  AT5TE42975   252   7745  3772  11286   7548   96.078  209  30
4  AT1TE52125  AT5TE42975     1    273  3566   3839    274   92.336   20   1

   10    11             12   13
0   0  plus   0.000000e+00  100
1  19  plus   0.000000e+00   69
2   7  plus   0.000000e+00   69
3  87  plus   0.000000e+00   67
4   1  plus  2.180000e-106   67

In [4]:
multi_hits=set()
self_hits=set()
for index,row in blastTEs.iterrows():
    query=row[0]
    hit=row[1]
    length=row[3]
    percentage=row[2]
    if  query!=hit:
        multi_hits.add(query)
        


for index,row in blastTEs.iterrows():
    query=row[0]
    hit=row[1]
    length=row[3]
    percentage=row[2]
    if query not in multi_hits:
        self_hits.add(query)


with open("Selfhitsonly_TEs.txt", 'w') as file_handler:
    for item in self_hits:
        file_handler.write("{}\n".format(item))
        
with open("Multihits_TEs.txt", 'w') as file_handler:
    for item in multi_hits:
        file_handler.write("{}\n".format(item))

In [7]:
out=open('Tair10_TEs_blastall.out_torandomlychoose', 'w')
for index,row in blastTEs.iterrows():
    query=row[0]
    hit=row[1]
    length=row[6]
    percentage=row[7]
    if query in multi_hits and query!=hit:
        out.write('%s,%s,%s,%s\n'%(query,hit,length,percentage))

In [3]:
blastTEstochoose=pd.read_csv('Tair10_TEs_blastall.out_torandomlychoose', header=None, sep=',')
print(blastTEstochoose.head(n=5))

            0           1     2       3
0  AT1TE52125  AT1TE52105  8012  99.114
1  AT1TE52125  AT1TE52105  1170  98.718
2  AT1TE52125  AT5TE42975  7548  96.078
3  AT1TE52125  AT5TE42975   274  92.336
4  AT1TE52125  AT3TE62020  7010  96.220

In [13]:
mygrp =blastTEstochoose.groupby([0,1])\
.agg({2:'sum', 3:'median'}) \
.reset_index()
        
mygrp.head(n=5)

            0           1     2       3
0  AT1TE00025  AT1TE01615  1175  89.744
1  AT1TE00025  AT1TE06465    48  91.667
2  AT1TE00025  AT1TE06480  1268  94.107
3  AT1TE00025  AT1TE07300   986  94.930
4  AT1TE00025  AT1TE09970  1621  97.309

In [26]:
mychosen=set()
for index,row in mygrp.iterrows():
    te1=row[0]
    te2=row[1]
    tochoose=te1,te2
    length=row[2]
    percentage=row[3]
    chosen=random.choice(tochoose)
    if chosen not in mychosen and int(length)>=200 and int(percentage)>=85:
        mychosen.add(chosen)
    else:
        pass

In [28]:
print(len(mychosen))

8643

In [33]:
len(mygrp[0].unique())

13955

In [34]:
mychosenpd=pd.DataFrame(mychosen)

In [35]:
print(mychosenpd.head(n=5))

            0
0  AT4TE18700
1  AT3TE46350
2  AT1TE47680
3  AT4TE18320
4  AT4TE14305

In [36]:
mychosenpd.to_csv("Tair10Multi_hits_aggchosen1random.txt")

In [ ]:
#add self hits to randomly chosen multi hit